body {
  padding: 3%;
  background-color: RGB(233, 225, 220);
}

.bold {
  font-weight: bold;
}

.scratch {
  text-decoration: line-through;
}

header {
  width: 100%;
  background-color: rgb(187, 119, 93);
}

#name {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  margin: 0 auto;
  width: 960px;
}

main {
  display: inline-block;
  padding-left: 100px;
}

#description {
  font-family: sans-serif;
  padding-left: 440px;
}

#minha-foto {
  float: left;
  padding: 5px;
  margin: 5px;
  background-color: white;
  height: 220px;
}

.img-container {
  display: inline-block;
  height: 230px;
  width: 75%;
}

ul {
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.skills {
  display: inline-block;
  padding-right: 100px;
}

.academic {
  height: auto;
  line-height: 25%;
  padding-bottom: 20px;
  border-bottom: 1px black solid;
  font-size: medium;
}

.school-name {
  padding-top: 5px;
  font-weight: bold;
  font-size: large;
}

.date {
  color: grey;
}

.situation {
  padding-left: 55px;
  line-height: 125%;
}

.academic img {
  float: left;
  height: 50px;
  padding-right: 5px;
}

#links-text {
  padding-top: 2%;
}

footer {
  background-color: rgb(70, 114, 106);
  width: 100%;
}

footer ul {
  margin: 40px;
  margin-left: 75px;
  width: 960px;
}

footer li {
  display: inline;
  padding-right: 50px;
  font-size: large;
}