body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: darkgray !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.italic {
  font-style: italic;
}

.about-me {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 10%;
  margin-bottom: 10%;
}

.face {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.face img {
  max-width: 250px;
}

.easy-read {
  background-color: black;
  color: white;
}

.stacks-div {
  margin-top: 5%;
  background-color: darkblue;
  color: white;
  border-radius: 1%;
}

.card-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  flex: none !important;
  background: none !important;
  border: none !important;
}

.footer {
  margin-top: 5%;
}

.footer p {
  padding: 5px;
  margin: 0;
  text-align: center;
  font-size: x-large;
  font-weight: 700;
}

.footer-links {
  display: flex;
  justify-content: center;
}

.footer a {
  padding: 1%;
}

.show-hide-btn {
  margin-left: 5%;
}